.OrderSummary {
    border: 1px solid rgb(201, 198, 198);
    width: 500px;
    position: fixed;
    z-index: 200;
    background-color: white;
    padding: 1rem 1rem;
    box-shadow: 2px 2px 5px gray;
    top: 30%;
    left: calc((100% - 500px)/2);
    transition: all 0.3s ease-in-out;
    transform: var(--translate);
    opacity: var(--opacity);
}

.OrderSummary ul {
    margin: 0.5rem 1rem;
    list-style: none;
    padding: 0.4rem 0.7rem;
    text-transform: capitalize;
    background-color: rgb(201, 121, 1);
    width: 40%;
    border-radius: 1rem;
    font-size: 1.1rem;
    color: white;
}

.OrderSummary li {
    
    display: flex;
    justify-content: space-between;
}

.OrderSummary p {
    padding: 0.7rem 0;
}

.OrderSummary .button {
    padding-top: 1rem;
    font-size: 1.1rem;
    display: flex;
    justify-content: space-between;
    width: 50%;
}
.OrderSummary button {
    font-size: 1.1rem;
    border: none;
    text-transform: uppercase;
    background-color: transparent;
    font-weight: bold;
}

@media screen and (max-width: 700px) {

    .OrderSummary {
        width: 70%;
        left: calc((100% - 70%)/2);
        padding: 2rem 2rem;
        top: 20%;
    }

    .OrderSummary button {
        font-size: 0.9rem;
    }
    
}