.NavigationItem a {
    height: 100%;
    display: flex;
    align-items: center;
    border-bottom: 3px solid transparent;
    cursor: pointer;
    color: white;
    text-decoration: none;
    padding: 0 1rem;
}

.NavigationItem a:hover,
.NavigationItem .active,
.NavigationItem a:active {
    border-bottom: 3px solid blue;
    background-color: rgba(255, 255, 255, 0.288);
}

@media (max-width: 500px) {
    .NavigationItem a {
        cursor: pointer;
        color: rgb(150, 90, 0);
        padding: 0.5rem 0rem;
    }
    
    .NavigationItem a:hover,
    .NavigationItem .active
    .NavigationItem a:active {
        border-bottom: none;
        color: cadetblue;
    }
}